.pictureContainer {
  background: url(../youtube_pfp.png);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  display: inline-block;
      -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}
.pictureContainer:hover {
  background: url(../youtube_fade2.png);

    -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;

}



h9 {font-family: courier new;
	font-weight: lighter;
	font-size: 36px;
	text-align: center;
	}

descript {font-family: courier new;
	font-weight: lighter;
	font-size: 14px;
	}

h1 {font-family: courier new;
	font-weight: lighter;
	font-size: 75px;
	text-align: center;
	}

h2 {font-family: courier new;
	font-weight: lighter;
	font-size: 30px;
		text-align: center;

	}


h3 {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 19px;
	}


categories {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 19px;
	}

h6 {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 41px;
	}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #7F7F7F;

}

a:active {
    color: #eee9e9;
}

#motion {
	padding-left: 20px;
}


#bigintro {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.mainthing {
	align-items: center;
	
}


captions {
font-family: courier new;
	font-weight: lighter;
	font-size: 19px;
	text-align: right;

}

pagetitle {font-family: courier new;
	font-weight: lighter;
	font-size: 60px;
	}

img {
    image-orientation: from-image;
}



