#daBar {
box-shadow: inset 0px 0px 50px -50px #D4D4CC, inset 0px -50px 50px -50px #D4D4CC;
position: fixed;
display: none;
}

.pictureContainer {
  background: url(../youtube_pfp.png);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  display: inline-block;
      -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}
.pictureContainer:hover {
  background: url(../youtube_fade.png);

    -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;

}

.pictureContainer2 {
  background: url(../youtube_pfp3.png);
  width: 140px;
  height: 140px;
  border-radius: 50%;

  display: inline-block;
      -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}

.grad {
height: 10px;
width: 100%;
bottom: 0px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}
h9 {font-family: courier new;
	font-weight: lighter;
	font-size: 36px;
	text-align: center;
	}

descript {font-family: courier new;
	font-weight: lighter;
	font-size: 14px;
	}

h1 {font-family: courier new;
	font-weight: lighter;
	font-size: 75px;
	text-align: center;
	}

h2 {font-family: courier new;
	font-weight: lighter;
	font-size: 30px;
		text-align: center;

	}


h3 {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 19px;
	}


categories {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 19px;
	}

h6 {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 41px;
	}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #7F7F7F;

}

a:active {
    color: #eee9e9;
}

#motion {
	padding-left: 20px;
}


#bigintro {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.mainthing {
	align-items: center;
	
}


captions {
font-family: courier new;
	font-weight: lighter;
	font-size: 19px;
	text-align: right;

}

pagetitle {font-family: courier new;
	font-weight: lighter;
	font-size: 60px;
	}

img {
    image-orientation: from-image;
}




#myImg {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


#myImg2 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close3 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close4 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close4:hover,
.close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

h8 {
font-family: courier new;
  font-weight: lighter;
  font-size: 40px;
    text-align: center;
}
.modal-body {padding: 2px 16px;
      text-align: center;

}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
