#daBar {
box-shadow: inset 0px 0px 50px -50px #D4D4CC, inset 0px -50px 50px -50px #D4D4CC;
position: fixed;
display: none;
}

.pictureContainer {
  background: url(../youtube_pfp.png);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  display: inline-block;
      -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}
.pictureContainer:hover {
  background: url(../youtube_fade.png);

    -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;

}

.pictureContainer2 {
  background: url(../youtube_pfp3.png);
  width: 140px;
  height: 140px;
  border-radius: 50%;

  display: inline-block;
      -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}

.grad {
height: 10px;
width: 100%;
bottom: 0px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}
h9 {font-family: courier new;
	font-weight: lighter;
	font-size: 36px;
	text-align: center;
	}

descript {font-family: courier new;
	font-weight: lighter;
	font-size: 14px;
	}

h1 {font-family: courier new;
	font-weight: lighter;
	font-size: 75px;
	text-align: center;
	}

h2 {font-family: courier new;
	font-weight: lighter;
	font-size: 30px;
		text-align: center;

	}


h3 {font-family: courier new;
    font-weight: lighter;
	font-color: black;
	font-size: 19px;
	}


h4 {font-family: courier new;
    font-color: black;
    font-size: 19px;
    }


categories {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 19px;
	}

h6 {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 41px;
	}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #7F7F7F;

}

a:active {
    color: #eee9e9;
}

#motion {
	padding-left: 20px;
}


#bigintro {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.mainthing {
	align-items: center;
	
}


captions {
font-family: courier new;
	font-weight: lighter;
	font-size: 19px;
	text-align: right;

}

pagetitle {font-family: courier new;
	font-weight: lighter;
	font-size: 60px;
	}

img {
    image-orientation: from-image;
}




#myImg {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


#myImg2 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 3%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close3 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close4 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.close2:hover,
.close2:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.close3:hover,
.close3:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.close4:hover,
.close4:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 2px 16px;
    background-color: #04FF82;
    color: black;
}

h8 {
font-family: courier new;
  font-weight: lighter;
  font-size: 40px;
    text-align: center;
}
.modal-body {
    padding: 2px 16px;

   position:relative;
    padding-bottom:46.25%;
    padding-top:5%;
    height:0;
    overflow:hidden;
 
}
.modal-body iframe, .modal-body object, .modal-body embed {
    position:absolute;
 
 left: 10%;
 top: 10%;
    width:80%;
    height:80%;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #04FF82;
    text-align: center;

    
    
    
    
    
    
    

#rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
    font-family: courier new;
    font-weight: lighter;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-family: verdana;
    font-weight: lighter;
    top:40%;	
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
} 
