#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100000000;
}

#daBar {
    z-index: 9; 
box-shadow: inset 0px 0px 50px -50px #D4D4CC, inset 0px -50px 50px -50px #D4D4CC;
position: fixed;
display: none;
}

.darker {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1000%;
    z-index: -10000000;
    background-color: #000000;
    opacity: 0.4;
    background-repeat: 100%;
}

.darker2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -10000000;
    background-color: #000000;
    opacity: 0.4;
    background-repeat: 100%;
}

.pictureContainer {
  background: url(../headshot_home.png);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  display: inline-block;
      -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}
.pictureContainer:hover {
  background: url(../youtube_fade.png);

    -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;

}

.pictureContainer2 {
  background: url(../headshot3.png);
  width: 140px;
  height: 140px;
  border-radius: 50%;

  display: inline-block;
      -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}

.grad {

height: 10px;
width: 100%;
bottom: 0px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}
h9 {font-family: courier new;
	font-weight: lighter;
	font-size: 36px;
	text-align: center;
	}

descript {font-family: courier new;
	font-weight: lighter;
	font-size: 14px;
	}

h1 {font-family: courier new;
	font-weight: lighter;
	font-size: 75px;
	text-align: center;
	}

h2 {font-family: courier new;
	font-weight: lighter;
	font-size: 29px;
		text-align: center;

	}


h3 {font-family: courier new;
    font-weight: lighter;
	font-color: black;
	font-size: 19px;
	}


h4 {font-family: courier new;
    font-color: black;
    font-size: 19px;
    }


categories {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 19px;
	}

h6 {font-family: courier new;
	font-weight: lighter;
	font-color: black;
	font-size: 41px;
	}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #7F7F7F;

}

a:active {
    color: #eee9e9;
}

#motion {
	padding-left: 20px;
}


#bigintro {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.mainthing {
	align-items: center;
	
}


captions {
font-family: courier new;
	font-weight: lighter;
	font-size: 19px;
	text-align: right;

}

pagetitle {font-family: courier new;
	font-weight: lighter;
	font-size: 60px;
	}

img {
    image-orientation: from-image;
}




#myImg {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


#myImg2 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}


#myImg5 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg5:hover {opacity: 0.7;}



#myImg6 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg6:hover {opacity: 0.7;}



#myImg7 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg7:hover {opacity: 0.7;}



#myImg8{
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg8:hover {opacity: 0.7;}



#myImg9 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg9:hover {opacity: 0.7;}



#myImg10 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg10:hover {opacity: 0.7;}



#myImg11 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg11:hover {opacity: 0.7;}



#myImg12 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg12:hover {opacity: 0.7;}


#myImg13 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg13:hover {opacity: 0.7;}

#myImg14 {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg14:hover {opacity: 0.7;}







/* The Modal (background) */
.modal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 3%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #FFFFFF;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    margin-left: 20%;
    margin-top: -2%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 1s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close3 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close4 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close5 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}.close6 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}.close7 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}.close8 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}.close9 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}.close10 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}.close11 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}.close12 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close13 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close14 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close2:hover,
.close2:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close3:hover,
.close3:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close4:hover,
.close4:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close5:hover,
.close5:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close6:hover,
.close6:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close7:hover,
.close7:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close8:hover,
.close8:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close9:hover,
.close9:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close10:hover,
.close10:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close11:hover,
.close11:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close12:hover,
.close12:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close13:hover,
.close13:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}
.close14:hover,
.close14:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}





.modal-header {

    padding-top: 5px;
    padding-bottom: 5px;
    padding: 2px 16px;
    background-color: #ffffff;
    color: black;
}

h8 {
font-family: courier new;
  font-weight: lighter;
  font-size: 40px;
    text-align: center;
}

.modal-body {

    padding: 2px 16px;

   position:relative;
    padding-bottom:46.25%;
    padding-top:5%;
    height:0;
    overflow:hidden;
 
}
.modal-body iframe, .modal-body object, .modal-body embed {
    position:absolute;
 
 left: 10%;
 top: 10%;
    width:80%;
    height:80%;
}

.modal-footer {

    padding: 2px 16px;
    background-color: #FFFFFF;
    text-align: center;
 }

    
    .content-wrapper >div{
display:none;
}
    
    
     
